<p id="notice"><%= notice %></p>

<h1>Tv Shows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Release date</th>
      <th>Rating</th>
      <th>Nationality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_shows.each do |tv_show| %>
      <tr>
        <td><%= tv_show.name %></td>
        <td><%= tv_show.summary %></td>
        <td><%= tv_show.release_date %></td>
        <td><%= tv_show.rating %></td>
        <td><%= image_tag(url_for(tv_show.nationality.flag_img))  %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', tv_show %></td>
        <% end %>
        <% if (user_signed_in? && (current_user == tv_show.user)) %>
        <td><%= link_to 'Edit', edit_tv_show_path(tv_show) %></td>
        <td><%= link_to 'Destroy', tv_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Destroy', tv_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Tv Show', new_tv_show_path %>
<% end %>
